html {
    height: 100%;
}

body {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
    height: 100%;
}

h1,
h2 {
    text-align: center;
    font-size: 2rem;
}

h1 {
    font-weight: 600;
    margin-bottom: .75em;
}

h2 {
    font-weight: 200;
}

h3 {
    font-size: 15px;
    font-weight: 600;
}

header {
    text-align: center;
    font-weight: 200;
}

article {
    height: 75vh;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.boxbox {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;

}


section {
    background-color: white;
    font-weight: 200;
    width: 20%;
    border-radius: .5em;
    font-size: 11px;
    height: 35%;
    padding: 15px;
    box-shadow: 0px 25px 25px -25px rgba(0, 0, 0, .5);
    position: relative;
}

#fstcard {
    border-top: 3px solid hsl(180, 62%, 55%);
    margin: 10px;
}

#sndcard {
    border-top: 3px solid hsl(0, 78%, 62%);

}

#trdcard {
    border-top: 3px solid hsl(34, 97%, 64%);
    margin-top: 20px;

}

#fthcard {
    border-top: 3px solid hsl(212, 86%, 64%);
    margin: 10px;
}



.twotng {
    flex-direction: column;
    width: 20%;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    margin: 10px;
}

.suppos {
    width: 100%;
}

img {
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

@media (max-width: 690px) {
    .boxbox {
        min-width: 100vw;
    }

    section {
        min-width: 30%;
    }

    .twotng {
        width: 30%;
    }
}

@media (max-width: 490px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    header {
        font-size: .85rem;
    }


    .boxbox {
        flex-direction: column;
        margin-top: 50px;
        height: fit-content;
    }

    .twotng {
        width: 85%;
    }

    section {
        min-width: 85%;
        min-height: 200px;
        padding: 1rem 3rem;
        margin-bottom: 3rem !important;
    }

    h3 {
        font-size: 20px;
    }
}